section.general-infos
    h1.general-infos--name #{name}
    p.general-infos--cellphone 
        a(href=`tel:${cellphone}`) #{cellphone}
    p.general-infos--address #{address}
    p.general-infos--email 
        a(href=`mailto:${email}?Subject=Contact`) #{email}
    p.general-infos--links.linkedin
        a(href=linkedinURL target="_blank") #{linkedin}
    p.general-infos--links.personal-web-site
        a(href=personalWebSiteURL target="_blank") #{personalWebSite}
    p.general-infos--links.github 
        a(href=githubURL target="_blank") #{github}