//Variables

- let cellphone = "+353 83 871 3722"
- let address = "32, North Circular Road, Flat 2, Dublin 7, Ireland"
- let email = "melo.raulf@gmail.com"
- let personalWebSite = "https://rauldemelo.com.br"
- let personalWebSiteURL = "http://rauldemelo.com.br"
- let linkedin = "https://linkedin.com/in/raulfdm/en"
- let linkedinURL = "https://www.linkedin.com/in/raulfdm/en"
- let github = "https://github.com/raulfdm"
- let githubURL = "https://github.com/raulfdm/"

section.general-infos
    h1.general-infos--name #{name}
    p.general-infos--cellphone 
        a(href=`tel:${cellphone}`) #{cellphone}
    p.general-infos--address #{address}
    p.general-infos--email 
        a(href=`mailto:${email}?Subject=Contact`) #{email}
    p.general-infos--links.linkedin
        a(href=linkedinURL target="_blank") #{linkedin}
    p.general-infos--links.personal-web-site
        a(href=personalWebSiteURL target="_blank") #{personalWebSite}
    p.general-infos--links.github 
        a(href=githubURL target="_blank") #{github}