section.general-infos
    h1.general-infos--name #{name}
    p.general-infos--cellphone 
        a(href=`tel:${cellphone}`) #{cellphone}
    p.general-infos--address #{address}
    p.general-infos--email 
        a(href=`mailto:${email}?Subject=Contact`) #{email}