- let cellphone = "+353 83 871 3722"
- let address = "32, North Circular Road, Flat 2, Dublin 7, Ireland"
- let email = "melo.raulf@gmail.com"
- let personalWebSite = "https://rauldemelo.com.br"

section.general-infos
    h1.general-infos--name #{name}
    p.general-infos--cellphone 
        a(href=`tel:${cellphone}`) #{cellphone}
    p.general-infos--address #{address}
    p.general-infos--email 
        a(href=`mailto:${email}?Subject=Contact`) #{email}